
{% include 'layout.html.twig' %}
{% block content %}
    <h1>Item {{ items.title }}</h1>
<ul>
    <li>Id : {{ items.id }}</li>
</ul>
<a href='/public/index.php?route=items'>Back to list</a>
{% endblock %}